*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: white;
    overflow-x: hidden;
}

section, header{
    background: #517080;
}

header h1{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

header ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}

header a{
    color: white;
    text-decoration: none;

    padding: .7rem 1.5rem;
    border-radius: 5rem;

    transition: .1s ease-in-out;
}